/*declare custom fonts*/
@font-face{
	font-family:antic;
	src:url('../fonts/antic-slab/AnticSlab.ttf');
}

body
{
	font-family:antic;
	color:#d0ca7c;
	background-color:#18341d;
	background-image:url('../images/wood-texture.png');
	background-repeat:no-repeat;
	/*prevents horizontal scrolling*/
	overflow-x:hidden;
}

img
{
	position:absolute;
	left:610px;
	top:100px;
}

#head-text
{
	font-family:antic;
	font-size:30px;
	position:absolute;
	/*moves the text right 900px and down 200px*/
	left:750px;
	top:100px;
}

/*sets the background of the welcome text to an image as well as specifies the width and height*/
.head
{
	background-image:url('../images/pub.png');
	background-repeat:no-repeat;
	min-height:900px;
	min-width:2000px;
}

.services
{
	left:-230px;
	padding-left:270px;
	position:absolute;
	font-size:2em;
}

.contact
{
	bottom:-850px;
	left:280px;
	position:absolute;
}

#map
{
	position:relative;
	left:0px;
	top:0px;
}

.btn-info
{
	background-color:#3A5F0B;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px; 
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	font-size:30px;
}

.btn-info:hover
{
	background-color:#005A04;
}

/*style rules for the menu*/
.modal-content
{
	left:-200px;
	background-color:#669966;
	width:800px;
	height:1100px;
	text-align:center;
}

.social-media
{
	position:relative;
	left:-610px;
	top:-100px;
	list-style-type:none;
	display:inline;
	color:green;
}

.close
{
	position:relative;
	left:0px;
	top:-10px;
	font-size:50px;
}

#hours
{
	position:relative;
	top:200px;
	left:-400px;
	font-size:40px;
	display:inline;
}

#beer
{
	position:relative;
	left:200px;
}

#trending
{
	position:relative;
	right:-450px;
}

.divider-food, .divider-beer
{
	position:absolute;
}

.divider-food
{
	left:180px;
}

.divider-beer
{
	left:-80px;
	margin-top:-85px;
}
